body {
    background: #64625f !important;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #6B6C6D !important;
}

.navbar-side {
    background: #64625f !important;
}

.top-navbar {
    background: #64625f !important;
}