.openingReport {
    padding: 0px 15px 10px 15px;
}

.reportContent {
    min-height: 50px;
    padding: 10px;
    width: 70%;
    display: inline-block;
    border-right: 1px solid #3c763d;
}

.reportNotation {
    text-align: center;
    padding: 10px;
    width: 29%;
    display: inline-block;
}

.whiteColor {
    background-color: #ffffff;
    border: 1px solid #3c763d
}

.submit {
    color: #0B8902;
}

.notSubmit {
    color: #f00;
}

.bgColorReady {
    background-color: #d9edf7 !important;
}

.paddingBottom10 {
    padding-bottom: 10px !important;
}

.padding10 {
    padding: 10px;
}

.clickColor {
    color: #5bc0de;
    text-decoration: underline;
}

.notificationMmessage {
    color: #0B8902;
    padding: 5px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #ccc
}

.ul1 li {
    position: relative;
    top: 0px;
}

.messageUnread {
    padding: 1px;
    background-color: #f00;
    display: inline-block;
    position: absolute;
    left: 26px;
    top: 7px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}


input[type=checkbox] {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

input[type=checkbox]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=checkbox]:checked::before {
    color: white;
    background-color: #5bc0de;
    content: '√';
}